Python is a programming language that lets you work quickly and integrate systems more effectively.

#### Python Crash Course
This notebook will just go through the basic topics in order:

- Print Statements
- Data types
    - Numbers
    - Strings
    - Lists
    - Dictionaries
    - Booleans
    - Tuples
    - Sets
- Comparison Operators
- if,elif, else Statements
- for Loops
- while Loops

1. Print Statements

In [1]:
# Let's learn about the print statements
print("Let's learn the python for Machine Learning!!")

Let's learn the python for Machine Learning!!

In [2]:
# Let's create two variables and print them
x =18
y = "Dilasha"
print(x)
print(y)

18
Dilasha

In [7]:
name = input("What's your name? ")
print(f"Hi, {name}! Welcome to our Python Crsah Course.")

What's your name? Aaron
Hi, Aaron! Welcome to our Python Crsah Course.

In [3]:
# let's print the statement with string formatting method
print(f"{y} is {x} years old.")

Dilasha is 18 years old.

In [4]:
# let's use format method
print("{} is {} years old." .format(y,x))

Dilasha is 18 years old.

In [5]:
# using concatenation method
print(y + " is " + str(x) + " years old.")

Dilasha is 18 years old.

In [6]:
# Using older % string formatting method
print("%s is %d years old." %(y,x))

Dilasha is 18 years old.

2. Data Types
- A data type is an attribute associated with a piece of data that tells a computer system how to interpret its value. Understanding data types ensures that data is collected in the preferred format and the value of each property is as expected.

2.1 Numbers

Q. Create a program that converts temperatures between Celsius and Fahrenheit.

In [11]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} C is equal to {fahrenheit} F.")

Enter temperature in Celsius: 37
37.0 C is equal to 98.6 F.

In [12]:
# working with numbers
x = 20
y = 50
print(f'The addition two number x and y is is {x+y}.')

The addition two number x and y is is 70

2.2 String
- Strings are sequences of characters.

In [13]:
greeting = 'Nameste'
print(greeting)

Nameste

Q. Create a program that takes a person's full name and formats it for a formal letter.

In [14]:
full_name =  input("Enter your full name: ")
formatted_name = full_name.title()
print(f"Dear {formatted_name},")

Enter your full name: siddhant bhattarai
Dear Siddhant Bhattarai,

In [16]:
x = "I am learning python."
y = "Python is awesome!!"

concatenated_string = x + ' ' + y
print(concatenated_string)

I am learning python. Python is awesome!!

In [17]:
# String Methods
upper_case = concatenated_string.upper()
print(upper_case)

I AM LEARNING PYTHON. PYTHON IS AWESOME!!

In [18]:
lower_case = concatenated_string.lower()
print(lower_case)

i am learning python. python is awesome!!